*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #fffbf0;
}

/*mobile*/

@media (max-width: 767px) {
  .entry {
    max-width: 100vw;
    width: 100%;
    overflow-x: hidden;
  }

  header h2 {
    text-align: center;
    overflow-x: hidden;
    max-width: 100%;
  }

  header img {
    width: 60vw;
  }

  #arrow{
    max-width: 25px;
    opacity: 50%;
  }

}

/*tablet*/

@media (min-width: 768px) {

  .entry {
    max-width: 60vw;
  }

  header h2 {
    font-size: 1.5rem;
  }

  #arrow{
    max-width: 3vw;
  }
}

/*laptop*/

@media (min-width: 1200px) {
  .entry {
    max-width: 50vw;
  }

  header h2 {
    font-size: 1.5rem;
  }

  #arrow{
    max-width: 3vw;
  }

}

a {
  color:#005081;
  text-decoration: none;
}

a:hover {
  color: #a6dae1;
}

#angel-pc {
  display: flex;
  justify-content: center;
  align-items: center;
}

header h2 {
  font-family: 'Press Start 2P', serif;
  color: #23b4cf;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-friends{
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropbtn {
  font-family: 'Press Start 2P', serif;
  font-size: 0.5rem;
  background-color: #fffbf0;
  color: #23b4cf;
  padding: 0.5rem;
  border: solid;
  border-color: #23b4cf;
}

.dropdown {
  padding: 1rem;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #a6dae1;
  z-index: 1;
}

.dropdown-content a {
  font-family: 'Press Start 2P', serif;
  font-size: 0.5rem;
  text-align: left;
  color: #23b4cf;
  padding: 0.5rem;
  text-decoration: none;
  display: block;

}

.dropdown-content a:hover {background-color: #a6dae1;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #a6dae1;}

#arrow{
  position: fixed;
  bottom: 1vw;
  right: 0;
}

.entry {
  display: block;
  margin: auto;
  padding: 100px 0 10px 0;
  align-items:center;
}

.entry span{
  padding: 10px;
  display:block;
}

.entry p {
  padding: 10px 0;
}

.entry li{
  margin-left: 30px;
}

.entry-header {
  font-family: 'Press Start 2P', serif;
  font-size: 1.5rem;
  color: #a6dae1;
}

.date {
  font-size: 0.5rem;
}

.entry-contents {
  font-family: 'Roboto', sans-serif;
}

.question {
  font-style: italic;
  font-weight: 400;
  margin: 50px 10px 0 0;
  color: #a6dae1;
}
.sub-question {
  font-style: normal;
  font-weight: 400;
  margin: 10px 10px 0 0;
  color: #a6dae1;
}
.answer {
  color: #23b4cf;
}